body{
    background-color: rgb(71, 116, 168);
}

h1{
    
    font-size: 30px;
    text-align: center;
    
}

h2{
 border-style: solid;   
}

h3{
    
}
p{
   

}

img{
    border-style: ridge;
    border-color: black;
    
}